//************  buttons

.btn_v1 {
  height: 56 * $m;

  &.details_btn {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    border-radius: 2 * $m;
    overflow: hidden;
    line-height: 1.3;
    letter-spacing: -.06em;

    .btn_text {
      overflow: hidden;
      display: block;
      position: relative;
      margin-right: -1px;
      padding: 16 * $m 90 * $m 16 * $m 33 * $m;

      span {
        position: relative;
        z-index: 1;
      }
    }

    .btn_icon {
      padding-top: 14 * $m;
    }

  }

  &.learn_more_btn {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    border-radius: 2 * $m;
    padding-right: 78 * $m;
    overflow: hidden;
    line-height: 1.3;
    letter-spacing: -.06em;

    .btn_text {
      overflow: hidden;
      display: block;
      position: relative;
      margin-right: -1px;
      padding: 16 * $m 37 * $m;

      span {
        position: relative;
        z-index: 1;
      }
    }

    &.btn_white {
      .btn_icon {
        color: #fff !important;
      }
    }
  }
}

.btn_v2 {
  height: 64 * $m;

  &.calc_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 4 * $m;
    font: 1em/1.2 $DINAlternateBold;
    padding: 23 * $m 75 * $m 15 * $m;
    letter-spacing: -.05em;
  }

}

.btn_v3 {
  height: 88 * $m;

  &.option_btn {
    @extend %translate3d;
    position: relative;
    z-index: 1;
    width: 100%;
    font-size: 1em;
    display: block;
    padding: 30 * $m;
    text-align: center;
    letter-spacing: -.05em;

    > span {
      display: inline-block;
      vertical-align: middle;
      padding-top: 5 * $m;
    }

    .option_arrow {
      padding-right: 42 * $m;
      margin: -6 * $m 0 (-6 * $m) -2 * $m;
    }

    .option_counter {
      margin-left: 42 * $m;
      padding: 5 * $m 11 * $m 1 * $m;
      background: #fff;
      border-radius: 3 * $m;
    }
  }

}

.btn_v4 {
  height: 41 * $m;

  &.switch_btn {
    display: block;
    margin-top: -1px;
    margin-right: -1px;
    border: 1px solid #e4e4e4;

    .check_text {
      @include transition_all(color .3s);
      will-change: color;
      display: block;
      position: relative;
      z-index: 1;
      padding: 13 * $m 22 * $m 10 * $m;

      &:before {
        @include transition_all(background .3s);
        will-change: background;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
      }
    }

    &:hover {
      .check_text {
        &:before {
          background: #eff3f5;
        }
      }
    }

    input:checked + .check_text {
      color: #fff;

      &:before {
        background: #e75151;
      }
    }
  }
}

.btn_v5 {
  position: absolute;
  top: 0;
  bottom: 0;
  border: 1px solid #e8e8e8;

  &.counter_btn {
    width: 33 * $m;
    cursor: pointer;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &:before {
      height: 2 * $m;
      width: 8 * $m;
      background: #000;
      margin-left: -4 * $m;
    }
  }

  &._minus {
    left: 0;
    border-radius: 4px 0 0 4px;
  }

  &._plus {
    right: 0;
    border-radius: 0 4px 4px 0;

    &:after {
      width: 2 * $m;
      height: 8 * $m;
      background: #000;
      margin-top: -3 * $m;
      margin-left: -1 * $m;
    }
  }
}

.btn_icon {
  @include transition_all(color .3s);
  will-change: color;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 78 * $m;
  padding: 16 * $m 5 * $m;

  ._icon_clone {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

    &:before {
      @include transition_all(transform .75s cubic-bezier(.23, 1, .32, 1) .4s);
      will-change: transform;
      position: relative;
      display: block;
    }

    &:after {
      @include transition_all(transform .75s cubic-bezier(.23, 1, .32, 1) .4s);
      will-change: transform;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &.i-arrow_down {
      &:after {
        @include transform_translate(0, -100%);
        content: $i-arrow_down;
      }
    }

    &.i-arrow_right {
      &:after {
        @include transform_translate(-100%, 0);
        content: $i-arrow_right;
      }
    }

    *:hover > & {
      &:after {
        @include transform_translate(0, 0);
      }

      &.i-arrow_down {
        &:before {
          @include transform_translate(0, 100%);
        }
      }

      &.i-arrow_right {
        &:before {
          @include transform_translate(100%, 0);
        }
      }
    }
  }
}

.btn_blue_transp {
  border: 1px solid #29abe2;
  color: #fff;
}

.btn_light_blue {
  @include transition_all(background .3s);
  will-change: background;
  background: #eff3f5;
  color: #000;

  &:hover {
    background: #c1d1dd;
  }

  &:active {
    background: #95b1c6;
  }

}

.green_btn {
  color: #fefefe;
  background: #22b573;
}

.btn_white {
  position: relative;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;

  .btn_text {
    @include transition_all(color 0.4s cubic-bezier(0.4, 0, 0.2, 1));
    will-change: color;
    border-right: 1px solid #fff;

    &:before {
      //@include transition_all(transform 0.4s cubic-bezier(0.4, 0, 0.2, 1));
      //@include transform_translate(-100%, 0);
      //transition: .55s transform cubic-bezier(.165, .84, .44, 1), .4s background-color cubic-bezier(.165, .84, .44, 1), .55s -webkit-transform cubic-bezier(.165, .84, .44, 1);

      //transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

      -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
      transform: scale(0, 1);
      -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
      transform-origin: right center;

      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: -5px;
      right: -5px;
      background: #fff;
    }
  }

  &:hover {
    color: #000;

    .btn_text {
      &:before {
        //@include transform_translate(0, 0);

        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
        -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center;
      }
    }
  }

  &:active {
    .btn_text:before {
      background: #e8e8e8;
    }
  }
}

.btn_gray {
  @include transition_all(transform .3s);
  will-change: transform;
  background: #fff;

  &:hover {
    background: #e8e8e8;
  }

  &:active {
    background: #eff3f5;
  }
}

.btn_red {
  @include transition_all(background .3s);
  will-change: background;
  color: #fff;
  background: #e75151;

  &:hover {
    background: #cf4848;
  }

  &:active {
    background: #b94141;
  }

}

.yellow_btn {
  background: #fbe622;
  color: #000;
  box-shadow: 0 3px 5px #7f7f7f;
}

