.delivery_section {
  overflow: hidden;
  position: relative;
  background: #f0f0f0;
  padding-top: 115 * $m;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40.4%;
    background: #fafafa;
  }

  .delivery_map {
    float: left;
    width: 59.6%;
    position: relative;
    z-index: 1;
    padding-bottom: 105 * $m;

    svg {
      .region_name {
        display: none !important;
      }
    }
  }

  .map_holder {
    @extend %hor_vert_centr;
    position: absolute;
    top: 39.5%;
    left: 51%;
    max-width: 100%;
  }

  .delivery_info {
    margin-left: 18.7%;
    max-width: 50em;
    margin-bottom: 50 * $m;

    p {
      max-width: 38em;
      margin-bottom: 68 * $m;
    }
  }

  .delivery_calc {
    float: right;
    width: 40.4%;
    padding: 10 * $m 40 * $m 15 * $m 75 * $m;
  }

}

.delivery_calc {
  position: relative;
  z-index: 1;
  padding: 120 * $m 70 * $m;

  > p {
    font-family: $AvenirNextCyrMedium;
    line-height: 1.4;
    margin-bottom: 33 * $m;
  }
}

.delivery_calc_caption {
  margin-bottom: 10 * $m;
}

.contacts_section {
  @extend %clearfix;
  position: relative;
  height: 100%;

  .section_inner {
    height: 100%;
  }
}

.contacts_form {
  width: 40.1%;
  float: left;
  padding: 42 * $m 56 * $m;
}

.contacts_map {
  width: 59.9%;
  float: right;
  min-height: 100%;
  height: 826 * $m;
  margin-right: -15 * $m;
  position: relative;
  background: #fafafa;
}

.map_block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contacts_defs {
  padding: 5 * $m 0 25 * $m;

  dt {
    display: block;
    margin-bottom: 5 * $m;
  }

  dd {
    display: block;
    opacity: .5;
    margin-bottom: 25 * $m;
  }
}
