.delivery_section {
  overflow: hidden;
  position: relative;
  background: #f0f0f0;
  padding-top: 115 * $m;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40.4%;
    background: #fafafa;
  }

  .delivery_map {
    float: left;
    width: 59.6%;
    position: relative;
    z-index: 1;
    padding-bottom: 85 * $m;
  }

  .map_holder {
    @extend %hor_vert_centr;
    position: absolute;
    top: 46%;
    left: 51.5%;
    max-width: 100%;
  }

  .delivery_info {
    margin-left: 18.7%;
    max-width: 50em;
    margin-bottom: 50 * $m;

    p {
      max-width: 38em;
      margin-bottom: 68 * $m;
    }
  }

  .delivery_calc {
    float: right;
    width: 40.4%;
    padding: 10 * $m 40 * $m 15 * $m 75 * $m;
  }

}

.delivery_calc {
  position: relative;
  z-index: 1;
  padding: 120 * $m 70 * $m;

  p {
    font-family: $AvenirNextCyrMedium;
    line-height: 1.4;
    letter-spacing: .01em;
    margin-bottom: 33 * $m;
  }
}

.delivery_calc_caption {
  font-family: $DINAlternateBold;
  margin-bottom: 14 * $m;
  letter-spacing: -.045em;
}
