@font-face {
  font-family: 'AvenirNextRegular';
  src: url(../fonts/AvenirNext-Regular.eot);
  src: url(../fonts/AvenirNext-Regular.eot?#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNext-Regular.woff) format("woff"),
  url(../fonts/AvenirNext-Regular.ttf) format("truetype"),
  url(../fonts/AvenirNext-Regular.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextMedium';
  src: url(../fonts/AvenirNext-Medium.eot);
  src: url(../fonts/AvenirNext-Medium.eot?#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNext-Medium.woff) format("woff"),
  url(../fonts/AvenirNext-Medium.ttf) format("truetype"),
  url(../fonts/AvenirNext-Medium.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextDemi';
  src: url(../fonts/AvenirNext-DemiBold.eot);
  src: url(../fonts/AvenirNext-DemiBold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNext-DemiBold.woff) format("woff"),
  url(../fonts/AvenirNext-DemiBold.ttf) format("truetype"),
  url(../fonts/AvenirNext-DemiBold.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url(../fonts/AvenirNext-Bold.eot);
  src: url(../fonts/AvenirNext-Bold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNext-Bold.woff) format("woff"),
  url(../fonts/AvenirNext-Bold.ttf) format("truetype"),
  url(../fonts/AvenirNext-Bold.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINAlternateBold';
  src: url(../fonts/WebFontFont.eot);
  src: url(../fonts/WebFontFont.eot?#iefix) format("embedded-opentype"),
  url(../fonts/WebFontFont.woff) format("woff"),
  url(../fonts/WebFontFont.ttf) format("truetype"),
  url(../fonts/WebFontFont.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
