.footer {
  padding-top: 32 * $m;
  padding-bottom: 35 * $m;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  background: #2274a5;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.50);
  }

  .section_inner {
    position: relative;
    z-index: 1;
    padding: 0 75 * $m;
  }

  .contacts_list {
    margin-bottom: 35 * $m;

    .contacts_col {
      width: 23%;
    }
  }

  .copyrights {
    position: relative;
    bottom: 0;

    span {
      opacity: .6;
    }
  }
}

.dev_link {
  color: #fff;
  font-family: $AvenirNextCyrMedium;
  position: relative;

  &:before {
    @include transition_all(width .6s cubic-bezier(1, 0, 0, 1), background .3s cubic-bezier(1, 0, 0, 1));
    content: '';
    position: absolute;
    bottom: -1 * $m;
    width: 0;
    left: 0;
    height: $m;
    background: #fff;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}

.footer_slogan {
  opacity: .8;
  color: #fff;
  padding-top: 17 * $m;
  letter-spacing: .01em;
}

.popup {
  display: none;
  background: #f4f4f4;
  padding: 0 20px 20px;
  text-align: center;
  
}

.copyrights {
  @extend %clearfix;
  position: absolute;
  bottom: 32 * $m;
  left: 0;
  right: 0;
}

.fz_14 {
  font-size: 14 * $m;
}

.fz_16 {
  font-size: 16 * $m;
}

.fz_18 {
  font-size: 18 * $m;
}

.fz_20 {
  font-size: 20 * $m;
}

.fz_21 {
  font-size: 21 * $m;
}

.fz_24 {
  font-size: 24 * $m;
}

.fz_28 {
  font-size: 28 * $m;
}

.fz_30 {
  font-size: 30 * $m;
}

.fz_48 {
  font-size: 48 * $m;
}

.let-_025 {
  letter-spacing: -.025em;
}

.let-_03 {
  letter-spacing: -.03em;
}

.let-_038 {
  letter-spacing: -.038em;
}

.let-_045 {
  letter-spacing: -.045em;
}

.let-_04 {
  letter-spacing: -.04em;
}

.let-_05 {
  letter-spacing: -.05em;
}

.let_015 {
  letter-spacing: .015em;
}

.let_025 {
  letter-spacing: .025em;
}

.lh_1 {
  line-height: 1;
}

.lh_1_1 {
  line-height: 1.1;
}

.mb_5 {
  margin-bottom: 5 * $m;
}

.mb_10 {
  margin-bottom: 10 * $m;
}

.mb_20 {
  margin-bottom: 20 * $m;
}

.mb_40 {
  margin-bottom: 40 * $m;
}

.fw_med {
  font-family: $AvenirNextCyrMedium;
}

.din_bold {
  font-family: $DINAlternateBold;
}
