include _mixins.pug

block variables

doctype html
html(lang='ru' class= html_class || '')
  +dev_head(page_title || '')

  body(class= body_class || '')
    .wrapper
      .base
        +header()

        .main__content
          block content

      +footer()
      +popups(true)

    +scripts(true)
