include _mixins.pug

block variables

doctype html
html(lang='ru' class= html_class || '')
  +dev_head(page_title || '')

  body(class= (body_class || '') + (has_footer ? ' has_footer' : ''))
    .wrapper
      .base
        +header()

        .main__content
          block content

      +footer()
      +popups(true)

    +scripts(script_set)
