extends _layout.pug
include _mixins.pug

block variables
  - var $m = 0.0714286666666667;
  - var page_title = 'MTZ сертификаты';
  - var html_class = '';
  - var body_class = 'header_white_blue header_fixed';
  - var has_footer = true;
  - var nav_active = 4;
  - var dropdown_active = 0;
  - var script_set = 0;
  - var menu_open_dt = true;

block content
  .certificates_section._mod_1
    .section_inner
      .certificates_list_w
        .section_caption.mb_20
          span.fz_48.let-_038.ff_din Сертификаты
  
        p
          span.ff_avenir_med В 2012 году компанией ООО «Мытищинский Трубный Завод» был получен сертификат соответствия ГОСТ 10706-76. В 2014 году производство было сертифицировано по ГОСТ 20295-85 и ISO 9001:2011 (ISO 9001:2008). В 2015 году лаборатория неразрушающего контроля была аттестована в соответствии с требованиями Ростехнадзора. 
          
        ul.certificates_list
          li
            .certificate_unit
              .certificate_icon_w
                .certificate_icon
                  .certificate_doc
                    span.ff_din.fz_14 .pdf
  
              .certificate_name
                span.ff_avenir_med.fz_16 Сертификат соответствия <br>ГОСТ 20295-85
              .certificate_date
                span.fz_12.ff_avenir_med 30.06.2014
              .certificate_size
                span.fz_14.ff_din.let-_015 2,3 Mb
  
          li
            .certificate_unit
              .certificate_icon_w
                .certificate_icon
                  .certificate_doc
                    span.ff_din.fz_14 .pdf
  
              .certificate_name
                span.ff_avenir_med.fz_16 Сертификат соответствия <br>ТУ 1381-002-13152697-2015
              .certificate_date
                span.fz_12.ff_avenir_med 30.06.2014
              .certificate_size
                span.fz_14.ff_din.let-_015 2,3 Mb
  
          li
            .certificate_unit
              .certificate_icon_w
                .certificate_icon
                  .certificate_doc
                    span.ff_din.fz_14 .pdf
  
              .certificate_name
                span.ff_avenir_med.fz_16 Декларация о соответствии<br>требованиям таможенного союза
              .certificate_date
                span.fz_12.ff_avenir_med 30.06.2014
              .certificate_size
                span.fz_14.ff_din.let-_015 2,3 Mb
  
          li
            .certificate_unit
              .certificate_icon_w
                .certificate_icon
                  .certificate_doc
                    span.ff_din.fz_14 .pdf
  
              .certificate_name
                span.ff_avenir_med.fz_16 Сертификат соответствия <br>ГОСТ ISO 9001-2011 (ISO 9001:2008)
              .certificate_date
                span.fz_12.ff_avenir_med 30.06.2014
              .certificate_size
                span.fz_14.ff_din.let-_015 2,3 Mb
  
          li
            .certificate_unit
              .certificate_icon_w
                .certificate_icon
                  .certificate_doc
                    span.ff_din.fz_14 .pdf
  
              .certificate_name
                span.ff_avenir_med.fz_16 Сертификат соответствия <br>ГОСТ 20295-85
              .certificate_date
                span.fz_12.ff_avenir_med 30.06.2014
              .certificate_size
                span.fz_14.ff_din.let-_015 2,3 Mb
  
          li
            .certificate_unit
              .certificate_icon_w
                .certificate_icon
                  .certificate_doc
                    span.ff_din.fz_14 .pdf
  
              .certificate_name
                span.ff_avenir_med.fz_16 Сертификат соответствия <br>ТУ 1381-002-13152697-2015
              .certificate_date
                span.fz_12.ff_avenir_med 30.06.2014
              .certificate_size
                span.fz_14.ff_din.let-_015 2,3 Mb
  
          li
            .certificate_unit
              .certificate_icon_w
                .certificate_icon
                  .certificate_doc
                    span.ff_din.fz_14 .pdf
  
              .certificate_name
                span.ff_avenir_med.fz_16 Декларация о соответствии<br>требованиям таможенного союза
              .certificate_date
                span.fz_12.ff_avenir_med 30.06.2014
              .certificate_size
                span.fz_14.ff_din.let-_015 2,3 Mb
  
          li
            .certificate_unit
              .certificate_icon_w
                .certificate_icon
                  .certificate_doc
                    span.ff_din.fz_14 .pdf
  
              .certificate_name
                span.ff_avenir_med.fz_16 Сертификат соответствия <br>ГОСТ ISO 9001-2011 (ISO 9001:2008)
              .certificate_date
                span.fz_12.ff_avenir_med 30.06.2014
              .certificate_size
                span.fz_14.ff_din.let-_015 2,3 Mb
  
          li
            .certificate_unit
              .certificate_icon_w
                .certificate_icon
                  .certificate_doc
                    span.ff_din.fz_14 .pdf
  
              .certificate_name
                span.ff_avenir_med.fz_16 Сертификат соответствия <br>ТУ 1381-002-13152697-2015
              .certificate_date
                span.fz_12.ff_avenir_med 30.06.2014
              .certificate_size
                span.fz_14.ff_din.let-_015 2,3 Mb
  
          li
            .certificate_unit
              .certificate_icon_w
                .certificate_icon
                  .certificate_doc
                    span.ff_din.fz_14 .pdf
  
              .certificate_name
                span.ff_avenir_med.fz_16 Декларация о соответствии<br>требованиям таможенного союза
              .certificate_date
                span.fz_12.ff_avenir_med 30.06.2014
              .certificate_size
                span.fz_14.ff_din.let-_015 2,3 Mb
                                    
    
