$icomoon-font-path: "fonts" !default;

$i-arrow_right: "\e905";
$i-arrow_down: "\e900";
$i-chevron_left: "\e901";
$i-clock: "\e902";
$i-doc_pdf: "\e903";
$i-envelope: "\e904";
$i-phone: "\e910";
$i-pin: "\e911";
$i-rotation_arrow: "\e912";
$i-search: "\e913";

