$icomoon-font-path: "fonts" !default;

$i-check: "\e906";
$i-close: "\e907";
$i-arrow_right: "\e905";
$i-arrow_left: "\e90a";
$i-arrow_down: "\e900";
$i-arrow_up: "\e909";
$i-chevron_left: "\e901";
$i-chevron_right: "\e90b";
$i-chevron_down: "\e908";
$i-chevron_up: "\e90c";
$i-clock: "\e902";
$i-doc_pdf: "\e903";
$i-envelope: "\e904";
$i-phone: "\e910";
$i-pin: "\e911";
$i-rotation_arrow: "\e912";
$i-search: "\e913";

